#content-editorial{
    background: #145D80;
    height: 100px;
    position: relative;
}

#title-editorial{
    position: absolute;
    top: 1%!important;
    left: 10%!important;
    margin-top: 0.1em;
}

h5{
    font-family: Roboto!important;
}

.borde-white{
    border: 1px solid white;
}

.borde-black{
    border: 1px solid white;
}

.photo{
    height: 277px;
    width: 300px;
    margin-top: 0.7em;
}

.photo1{
    height: 277px;
    width: 300px;
    margin-top: 1.7em;
}