<app-header></app-header>
<div class="container">
    <div class="row">

        <div class="col s12 m7 l7 borde-white" id="content-editorial">
            <h2 class="white-text" id="title-editorial" style="font-family: Roboto!important;">EDITORIAL</h2>
        </div>
        <div class="col s12 m5 l5 white-text border-black">.</div>



        <div class="col s12 m12 l12">
            <div class="col s12 m12 l12 left-align"><strong>Fecha: 13/Octubre/2018</strong></div>
            <div class="divider col s12 black-text"></div>
            <div class="col s12 m8 l8">

                <p>
                    Con las recientes obras construidas en Barranquilla, la ciudad capital del Caribe colombiano
                    refuerza su posicionamiento histórico. Las cifras no mienten, en este momento tiene el mayor ritmo
                    de crecimiento del PIB y lo hace muy por encima de Bogotá y del promedio nacional.
                    Una gran muestra de ello son los recientes Juegos Centroamericanos y del Caribe que albergaron a
                    5.850 deportistas y acogieron 500 mil espectadores de 37 países en 39 escenarios modernos
                    escenarios.
                    El desarrollo urbanístico ordenado y de clase mundial, en el marco de la planeación Barranquilla se
                    consolida así como la gran metrópoli del Caribe por sus grandes obras de infraestructura, sus
                    centros comerciales y la inversión en parques y demás equipamiento urbano, con un extraordinario
                    disparador social y económico.
                    Esta es apenas la punta del iceberg de una capital que desde hace una década busca la modernidad. La
                    apuesta urbanística local, nos lleva a una Barranquilla inigualable, que se muestra orgullosa y
                    altiva con su gran Malecón y el progreso en la ribera del río Grande de la Magdalena.

                </p>
            </div>
            <div class="col s12 m4 l4">
                <img src="../../assets/editorial/Cidec6.jpg" class="photo1">
            </div>

            <div class="divider col s12 black-text"></div>
            <div class="col s12 m12 l12 left-align"><strong>Fecha: 23/Julio/2018</strong></div>
        <div class="col s12 m12 l12">
            <div class="col s12 m12 l12" style="margin-left: -0.7em;">

                <p>El sector inmobiliario es fundamental para cualquier economía. De hecho para una ciudad como
                    Barranquilla, la sostenibilidad de nuestro sector se ha convertido en la punta de lanza de un
                    interesante crecimiento económico, que se refleja en el incremento de la oferta de vivienda nueva y
                    usada, el desarrollo de nuevos proyectos comerciales, la habilitación y urbanización de nuevos
                    sectores multiestrato, que a su vez presionan la construcción de proyectos institucionales que sean
                    capaces de atender eficientemente las necesidades del mercado inmobiliario.
                    La Lonja de Propiedad Raíz de Barranquilla es un actor fundamental en la ciudad para lograr este
                    vertiginoso desempeño. En nuestra entidad confluyen de manera sinérgica todos los actores relevantes
                    en el sector, tales como empresas prestadoras de servicios inmobiliarios, constructores y
                    valuadores, que dinamizan con responsabilidad el mercado en continua evolución.<br>
                    Durante todo el año 2018, la Lonja de Barranquilla celebra sus 45 años de fundada, reflejando sus
                    logros en las inminentes realidades urbanas que hoy caracterizan positivamente a nuestra ciudad y al
                    Departamento del Atlántico.

                </p>
            </div>

        </div>
        </div>
    </div>
</div>

<app-footer></app-footer>