<br><br><br><br>
<div class="container background-footer" style="width: 85%!important;">
    <div class="row">
        <div class="col s12 m12 l12" style="margin-top: 1.7em;">
            <div class="col s12 m2 l2">
                <div class="col s12 m12 l12 center">
                    <h5 class="black white-text">Contáctenos</h5><br>
                </div>
                <div class="col s12 m12 l12">
                    <div class="col s4 m4 l4">
                        <img src="../../assets/icons/facebook-circular-logo.svg" class="logo-footer">
                    </div>
                    <div class="col s4 m4 l4">
                        <img src="../../assets/icons/facebook-circular-logo.svg" class="logo-footer">
                    </div>
                    <div class="col s4 m4 l4">
                        <img src="../../assets/icons/facebook-circular-logo.svg" class="logo-footer">
                    </div>
                </div>
            </div>

            <div class="col s12 m8 l18 center" id="content-footer">

                <h5 class="text-footer">PUBLICACION DE LA CORPORACION LONJA PROPIEDAD RAIZ DE BARRANQUILLA</h5>
                <h6 class="white-text">DIRECCIÓN: CARRERA 59 #64-239, BARRANQUILLA COLOMBIA</h6>
                <img src="../../assets/icons/Cabezote-Arrendamos-y-Vendemos.png" height="177" width="177"
                     style="margin-top: -1.4em;">

            </div>

            <div class="col s12 m2 l2" id="right-footer">
                <div class="col s12 m12 l12 center">
                    <img src="../../assets/icons/Cabezote-Arrendamos-y-Vendemos." height="77" width="177">
                </div>
                <div class="col s12 m12 l12 center">
                    <h5 class="black white-text">Comercializa</h5><br>
                </div>
                <div class="col s12 m12 l12 left">
                    <small class="white-text" id="dir-footer">Dirección:</small><br>
                    <small class="white-text" id="street-footer">Calle 107 #50-69</small><br>
                    <small class="white-text" id="floor-footer">Piso 14, oficina 1407</small><br>
                    <small class="white-text" id="telephone-footer">Telefono: 3093596</small><br>
                    <small class="white-text" id="email-footer">Correo: info@comercialcidec.com</small>
                </div>
            </div>

        </div>
    </div>
</div>