<app-header></app-header>
<div class="parallax-container w">
    <div class="parallax"><img src="../../assets/noticias/noticeshome/{{opinion.url}}"></div>
</div>
<div class="section white black-text">
    <div class="row container w">
        <small>Barranquilla | {{opinion.date}} - hora | {{opinion.hour}} am</small>
        <small class="right">Autor - {{opinion.author}} </small>
        <div class="col s12 m12 l12 divider">.</div>
        <h4 class="black-text lighten-3">{{opinion.title}}</h4>
        <p class="black-text  lighten-3">{{opinion.content}}</p>
    </div>
</div>
<app-footer></app-footer>