<app-header></app-header>
<div class="parallax-container w">
    <div class="parallax"><img src="../../assets/noticias/noticeshome/{{notice.url}}"></div>
</div>
<div class="section white">
    <div class="row container w">
        <small>Barranquilla | {{notice.date}} - hora | {{notice.hour}}</small>
        <small class="right">Autor - {{notice.author}} </small>
        <div class="col s12 m12 l12 divider">.</div>
        <h4 class="grey-text text-darken-3 lighten-3">{{notice.title}}</h4>
        <p class="grey-text text-darken-3 lighten-3">{{notice.content}}</p>
    </div>
</div>
<div class="container" style="width: 100%!important;">
    <div class="row">
        <div class="col s12 m12 l12">

            <div class="col s12 m3 l3 borde center card-notice" *ngFor="let item of notices">
                <img src="../../assets/noticias/noticeshome/{{item.url}}" class="image-notice">
                <div class="col s12 m12 l12" style="margin-top: -0.4em!important;">
                    <h6 class="left-align">{{item.title}}</h6>
                    <a [routerLink]="['/content']">
                        <small class="ver-mas" (click)="detailedNotice(item._id)">Ver más..</small>
                    </a>

                    <div class="fixed-action-btn" (mouseover)="social()">
                        <a class="btn-floating btn-large blue-cided">
                            <i class="large material-icons">share</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating yellow darken-1"><img src="../../assets/icons/instagram.png"
                                                                             style="width: 37px; height: 38px;"></a>
                            </li>
                            <li><a class="btn-floating blue"><img src="../../assets/icons/twitter-material.svg"
                                                                  style="width: 37px; height: 41px;"></a></li>
                            <li><a class="btn-floating white"><img src="../../assets/icons/facebook-circular-logo.svg"
                                                                   style="width: 37px; height: 41px;"></a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>